.logo {
  text-align: center;
  font-size: 3.2rem;
}

.home-page-container {
  display: flex;
  margin: auto 4rem auto 4rem;
  flex-direction: column;
  gap: 5px;
}

#profile-nav-btn {
  display: flex;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: 2px solid #ffffffde;
  align-items: center;
  justify-content: center;
}

#profile-nav-btn img {
  display: flex;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

#profile-nav-btn img:hover {
  transition: 0.5s ease-in-out;
  transform: translateX(9px);
}

.gerne-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 100%;
}

.gerne-row a {
  color: inherit;
  text-decoration: none;
}

.gerne-row a:hover {
  color: inherit;
}

.gerne-row h1 {
  font-size: 2.5rem;
}

.album-cover {
  display: flex;
  max-width: 180px;

  flex-wrap: wrap;
  flex-direction: column;

  margin: 10px;
}

.album-cover img {
  height: 180px;
  width: 180px;
}

.album-cover h5 {
  margin: 0;
}
