.profile-page-container {
    display: flex;
    flex-direction: column;
    margin: auto 20rem;
}

.profile-page-details {
    display: flex;
    flex-direction: row;
}

.profile-info {
    flex-direction: column;
}

.profile-image {
    border-radius: 100%;
    height: 300px;
    width: 300px;
    margin-left: auto;
}

.logout-btn {
    border-radius: 10px;

}