.search-bar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    height: 27px;
    width: 40%;
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 1.35rem;
    font-weight: 400;
    opacity: 0.32;
}

.search-bar::placeholder {
    font-size: 1.65rem;
    font-weight: 700;
}

.search-results {
    z-index: 10;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #504A4B;
    margin-top: 10px;
    width: 60%;
    padding: 10px;

}



.results {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid #ffffffde;
    cursor: pointer;
}



.song-info {
    display: flex;
    flex-direction: column;
}

.results img {
    height: 50px;
    width: 50px;
}