.album-page-container {
    display: flex;
    margin: auto 10rem auto 10rem;
    flex-direction: row;
    gap: 5px;

}

.albumPage-cover {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.albumPage-cover img {
    height: 300px;
    width: 300px;
}

.albumPage-cover p {
    font-weight: 500;
    font-size: 1.2rem;
}

.albumPage-tracks {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 100%
}

.album-track {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #504A4B;
    font-weight: 400;
    width: 100%;
    max-height: 52px;
}

.track-menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 18px;
}

.track-menu img {
    height: 18px;
    width: 18px;
}

.track-menu-box {
    min-width: 130px;
    display: block;
    background-color: #504A4B;
    padding: 1px 5px;
    border-radius: 5px;
    transform: translate(10px, -60px);

}

.track-menu-box ul {
    padding-left: 0;
}

.track-menu-box li {
    list-style: none;
    padding: 5px 10px;
    cursor: default;
}